

.header{
    display: flex;
    text-align: center;
    font-family: sans-serif;
    gap: 20px;
    list-style-type: none;
}

.logo{
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.navigation{
    display: flex;
    text-align: center;
    gap: 20px;
    padding-left: 500px;
    color: rgb(0, 0, 0);
    background-color: white;
    list-style-type: none;
    text-decoration: none;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: 700;
    position: relative;
    padding-bottom: 5px;
}

.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: 0.3s ease;
}

.navigation a:hover::after{
    width: 100%;
}

.hero{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(./header.jpeg.jpg);
    height: 580px;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
}

.hero::before{
    content: "";
    position: absolute;
    left: 0; right: 0; top: 0;
    background: rgb(0, 0, 0, 0.2);
    z-index: 0;
    height: 100%;
    background-blend-mode: overlay;
    background-size: cover;

}

.paragraph1{
    position: relative;
    z-index: 1;
    padding-left: 40px;
    margin: 0 auto;
    text-align: center;
}

.paragraph1 h1{
    font-weight: 100;
    font-size: clamp(3rem, 10vw 8rem);
    line-height: 1.1;
    letter-spacing: 0.2em;
    margin-bottom: 0.2em;
}

.paragraph1::before{
    position: absolute;
    inset: 0;
    z-index: 0;
    background: rgb(0, 0, 0, 0.55);

}

.section{
    text-align: center;
    color: white;
    position: relative;
    line-height: 1.2;
    font-size: 60px;
    padding-top: 130px;
}

.hire{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0984e3 #6c5ce7;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgb(108, 92, 231, 0.3);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease;
    white-space: nowrap;
    color: #fff;

}

.hire:hover,
.hire:focus{
    transform: translateY(-3px);
    box-shadow: 0 12px 28px rgba(108, 91, 231, 0.4);
}

.hire:active{
    transform: translateY(0);
    box-shadow: 0 6px rgba(108, 91, 231, 0.3);
}

.section-first{
    padding-top: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.h1{
    font-size: 49px;
}

.section-second{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 100px;
    margin-left: 70px;
    margin-right: 30px;
    padding-left: 80px;
}

.header2{
    padding-right: 40px;
}

.header3{
    padding-right: 40px;
}

.header3{
    padding-right: 40px;
}

.hire2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0984e3 #6c5ce7;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    font-size: 10px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 10px rgb(108, 92, 231, 0.3);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease;
    white-space: nowrap;
    color: #fff;
}

.hire3{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0984e3 #6c5ce7;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    font-size: 10px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 10px rgb(108, 92, 231, 0.3);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease;
    white-space: nowrap;
    color: #fff;
}

.hire4{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0984e3 #6c5ce7;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    font-size: 10px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 10px rgb(108, 92, 231, 0.3);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease;
    white-space: nowrap;
    color: #fff;
}

.hire5{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0984e3 #6c5ce7;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    font-size: 10px;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 10px rgb(108, 92, 231, 0.3);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease;
    white-space: nowrap;
    color: #fff;
}

.latest{
    padding-top: 90px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.project{
    text-align: center;
    padding-top: 100px;
}

.vector{
    text-align: center;
    padding-top: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.about{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 80px;
}

.images{
    display: flex;
    margin-left: 200px;
    text-align: center;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 20px;

}

.image1{
    padding-right: 20px;
}

.image2{
    padding-right: 20px;
}

.image3{
    padding-right: 20px;
}

.image4{
    margin-left: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 120px;
}

.last-part{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 34, 34);
    color:rgb(255, 255, 255);
    height: 400px;
    width: 100%;
    display: flex;
}

.footer{
     font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 34, 34);
    color:rgb(255, 255, 255);
    width: 100%;
}

.top{
    padding-top: 100px;
    padding-left: 70px;
}

.product{
    padding-bottom: 12px;
    font-size: x-large;
}

.Newsletter{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-left: 90px;
}

.letter{
    font-size: x-large;
    padding-bottom: 12px;
}

.email-input{
    width: 280px;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: rgb(255, 255, 255,);
    font-size: 16px;
    backdrop-filter: blur(10px);
}

.Subscribe{
    padding: 15px 20px;
    border: none;
    border-radius: 30PX;
    cursor: pointer;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.Subscribe:hover{
    transform: scale(1.05);
}

.Instagram{
    padding-left: 180px;
    padding-top: 50px;
    font-size: x-large;
}

.Copyright{
    text-align: center;
}

.social-icons{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    margin-top: 20px;

}

.social-icons a{
    font-size: 28px;
    color: white;
    background: rgb(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur (10px);
    transition: 0.3s;
}

.social-icons a:hover{
    transform: scale(1.1);
    background: rgb(255, 255, 255, 0.4);
}

footer{
    position: relative;
    padding: 40px 0;
}