.head{
    display: flex;
    text-decoration: none;
    padding-left: 60px;
    padding-top: 20px;
}

.header{
     font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #6a11cb, #2575fc);
    list-style-type: none;
    color: white;
    height: 725px;
    text-align: center;
}

.nav-links{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    text-align: center;
    cursor: pointer;
    padding-left: 500px;
}

.btn-purchase{
    justify-content: center;
    color: #0984e3 #6c5ce7;
    background: rgb(234, 85, 61);
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgb(108, 92, 231, 0.3);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease;
    white-space: nowrap;
    color: #fff;
    margin-top: 20px;
}

.admin{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.first-div{
    display: flex;
    text-align: center;
    gap: 50px;
    padding-left: 200px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.second-div{
    display: flex;
    text-align: center;
    gap: 50px;
    padding-left: 200px;
    padding-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.third-div{
    display: flex;
    text-align: center;
    gap: 50px;
    padding-left: 180px;
    font-family: Arial, Helvetica, sans-serif;
}

.p1{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p2{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p3{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p4{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p5{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p6{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p7{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p8{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p9{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.p10{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.fa-solid{
    color: rgb(234, 85, 61);
    font-size: 40px;
}

.Screenshot{
    text-align: center;
    padding-top: 180px;
    padding-bottom: 80px;
}

.vest{
    font-size: 14px;
    color: rgb(119, 119, 119);
}

.image1{
    display: flex;
    text-align: center;
    width: 30px;
    box-sizing: border-box;
    column-gap: 30px;
    row-gap: 30px;
    height: 200px;
    padding-left: 100px;
    border-bottom-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
}

.image2{
    display: flex;
    text-align: center;
    width: 30px;
    box-sizing: border-box;
    column-gap: 30px;
    row-gap: 30px;
    height: 230px;
    padding-left: 100px;
    padding-top: 30px;
}

.image3{
    display: flex;
    text-align: center;
    width: 30px;
    box-sizing: border-box;
    column-gap: 30px;
    row-gap: 30px;
    height: 230px;
    padding-left: 100px;
    padding-top: 30px;
}

.simple{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.price{
    display: flex;
    gap: 80px;
    text-align: center;
    padding-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.single{
    background-color: rgb(255, 255, 255);
    gap: 80px;
    text-align: center;
    padding-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    column-gap: 32px;
    row-gap: 32px;
}

.sign{
    justify-content: center;
    color: #0984e3 #6c5ce7;
    background: rgb(234, 85, 61);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgb(108, 92, 231, 0.3);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease;
    white-space: nowrap;
    color: #fff;
    margin-top: 20px;
}

.try{
    background-color: rgb(234, 85, 61);
    color: white;
    box-sizing: border-box;
    text-align: center;
    margin-top: 90px;
}

.signn{
    justify-content: center;
    color: #0984e3 #6c5ce7;
    background: rgb(243, 229, 171);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgb(108, 92, 231, 0.3);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: all 0.25s ease;
    white-space: nowrap;
    color: #fff;
    margin-top: 20px;
}

.our{
    text-align: center;
    padding-top: 80px;
}

.teammember{
    display: flex;
    height: 230px;
    gap: 30px;
    padding-left: 100px;
    padding-top: 50px;
}